<p>I'm customer centric full-stack software engineer. Most notably, I founded Elto.com which was acquired by GoDaddy.com in 2015.</p>

<p>I'm most passionate about: remote teams, software excellence, lean startups, agile development.</p>

<h1>Employment</h1>

<ul>
<li>now: Exploring the Next Big Thing</li>
<li>2015-2017: GoDaddy</li>
<li>2012-2015: Elto.com - acuqired by GoDaddy</li>
<li>2012: Inspire9</li>
<li>2011-2012: ThoughtWorks</li>
<li>2010 - 2011: NRW</li>
<li>2005 - 2009: University of Cantebury</li>
</ul>

<h1>Technologies</h1>

<ul>{% for tech in site.technologies %}
  <li>{{ tech }}</li>{% endfor %}</ul>

<h1>Personal</h1>

<p>I was born in South Africa,
grew up and studied in New Zealand, worked in various parts on Australia,
spent 2 years in San Francisco, some time in London, and now I'm doing that digital nomad thing.</p>

<h1>Hobbies + Interests</h1>

<p>{{ site.interests | join: ', ' }}</p>
