$black: $grey-color-light;
.post-header {
  // background-color: black;
  // padding: 8px 20px;
  margin-bottom: 20px;
  h1 {
    // color: white;
    // margin-bottom: 0;
  }

}
.post-content {
  h1 {
    border-bottom: 1px solid $black; 
    display: inline-block;
    padding-right: 60px;
  
  }
}

.site-header {
  // background-color: $black;
  // nav a {color: white;}
  // nav a:visited {color: white;}
}
.site-nav {
  // margin-top: 20px;
  // border-bottom: 1px solid $black;
  border-bottom: 1px solid $black;
  margin-right: 100px;
}
.site-nav a {
  color: #999;
  display: inline-block;
    font-weight: bold;
    font-size: 20px;




    padding: 0 20px;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid transparent;

    &:hover {
    color: black;
      
    }
    &.active {
    border-bottom: 0;
    border-bottom: 1px solid white;
    border-top: 1px solid $black;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    // height: 51px;
    // line-height: 46px;
    position: relative;
    color: black;
    top: 1px;
    }
    
}

.hero-content {
  position: relative;
  // height: 155px;
  clear: both;

  margin-top: 50px;
  $font-size:50px;
  h2 {
    // margin-top: 40px;
    font-size: $font-size;
    margin-bottom: 0;
  }
  .copy-wrapper {
    padding-top: 32px;
  }
  .img-wrapper {
    $height: 200px;
    $padding: 10px;

    padding: $padding;
    // position: absolute;
    float: right;
    // top: -43px;
    // left: -$height/2 - 31;
    margin: 0 auto;
    border: 1px solid $black;
    background-color: white;
    overflow: hidden;
    border-radius: $height / 2;
    height: $height;
    width: $height;
    box-sizing: border-box;
    display: inline-block;
    img {
      $img-size: $height - 2 * $padding;
      position: relative;
      width: $img-size;
      height: $img-size;
      border-radius: $img-size / 2; 
    }
  }
}

ul.post-list {
  border-top: 1px solid $black;
  // position: relative;
  margin-left: -30px;

}
.post-list li {
  padding: 20px 0 20px 30px;

  border-bottom: 1px solid $black;


  span {
    float: right;
    line-height: 32px;
  }
  h1 {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 32px;
    line-height: 1;
  }
  h1 a {
   color: black;
 }
}
.post-meta {

}