$black: $grey-color-light;
.post-header {
  margin-bottom: 20px;
  h1 {
    // color: white;
    // margin-bottom: 0;
  }

}
.site-header {
  margin-bottom: 20px;
}
.post-content {
  h1 {
    border-bottom: 1px solid $black; 
    display: inline-block;
    padding-right: 60px;

  }
}


.site-nav {
  border-bottom: 1px solid $black;
  margin-right: 100px;
  text-align: right;
  padding-top: 60px;
}

.site-nav a {
  color: #999;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;

  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid transparent;

  &:hover {
  color: black;
    
  }
  &.active {
  border-bottom: 0;
  border-bottom: 1px solid white;

  // height: 51px;
  // line-height: 46px;
  position: relative;
  color: black;
  top: 1px;
  }
    
}

.hero-content {
  position: relative;
  // height: 155px;
  clear: both;

  margin-top: 20px;
  $font-size:24px;
  h2 {
    // margin-top: 40px;
    font-size: $font-size;
    font-weight: 600;
    margin-bottom: 0;
    display: inline-block;
    line-height: 50px;
    float: left;
  }
  .img-wrapper {
    $height: 140px;

    $padding: 10px;

    padding: $padding;
    margin-left: 30px;
    float: right;
    // top: -43px;
    // left: -$height/2 - 31;
    // margin: 0 auto;
    border: 1px solid $black;
    background-color: white;
    overflow: hidden;
    border-radius: $height / 2;
    height: $height;
    width: $height;
    box-sizing: border-box;
    display: inline-block;
    img {
      $img-size: $height - 2 * $padding;
      position: relative;
      width: $img-size;
      height: $img-size;
      border-radius: $img-size / 2; 
    }
  }
}

ul.post-list {
  // border-top: 1px solid $black;
  // position: relative;

}
.post-list li {
  padding: 20px 0;

  border-bottom: 1px solid $black;


  span {
    float: right;
    line-height: 32px;
  }
  h1 {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 32px;
    line-height: 1;
  }
  h1 a {
   color: black;
 }
}
.post-meta {

}